#modal {
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    padding-top: 200px;
    left: 0;
    top: 0;
}

#modal-content {
    height: 250px;
    width: 250px;
    background-color: blue;
    margin: 0 auto 0;
    border-radius: 8px;
}

.is-blurred {
    filter: blur(2px);
}

.modal-show {
    visibility: visible;
}

.modal-hide {
    visibility: hidden;
}

#container {
    height: 100%;
    width: 100%;
}

#close-btn {
    float: right;
    color: white;
    font-size: 28px;
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
}

#close-btn:hover {
    cursor: pointer;
}

#modal-btn {
    padding: 10px;
}