#modal {
    height: 250px;
    width: 250px;
    background-color: blue;
    display: block;
    position: fixed;
    z-index: 9999;
    left: 250px;
    top: 250px;
}

.is-blurred {
    filter: blur(2px);
}

.modal-show {
    visibility: visible;
}

.modal-hide {
    visibility: hidden;
}

#container {
    height: 100%;
    width: 100%;
}